
  
  .success-card {
    background: white;
    border-radius: 20px;
    padding: 20px;
    width: 375px;
    height: 410px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .icon {
    font-size: 50px;
    color: #00a000;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  
  .message {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.5;
    margin-bottom: 60px;
  }
  
  
  
  .track-order {
    background-color: #00a000;
    color: white;
    
    font-weight: bold;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .track-order:hover {
    background-color: #008000;
  }
  
  .back-home {
    background-color: white;
    color: #00a000;
    border: 2px solid #00a000;
    font-weight: bold;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .back-home:hover {
    background-color: #f0f0f0;
  }
  