.container_imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    height: 60%;

}

.container_textos {
    display: flex;
    text-align: start;
    width: 100%;
    height: 40%;
    color: black;
    font-family: inherit;
    padding: 0px 16px;
    box-sizing: border-box;
    font-weight: 500;

    .descricao{
      font-weight: 10;
    }
}

hr{
  /* color: #DF001B; */
  background: linear-gradient(to right, #DF001B 50%, #C8C8C8 50%);
  border: none;
  height: 3px;
  border-radius: 6px;
}


.imagem {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.favoritos-page-container{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 3%;

    h1{
      color: #A40000;
      margin-left: 3%;
    padding-bottom: 10px;
  margin-top: -10px;  
  }
}

.carrossel-container {
    width: 10%;
    margin: 10px auto;
  }
  
  .div_favoritos-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div_favoritos {
    overflow-x: auto;
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
    padding: 10px 0;
    width: 95%;
  }
  
  .favoritos-container {
    flex: 0 0 auto;
    width: 340px;
    height: 400px;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .btn-carrossel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 28px;
    color: black;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    border-radius: 50%;
  }
  
  .btn-carrossel.esquerda {
    left: 0;
  }
  
  .btn-carrossel.direita {
    right: 0;
  }
  