


.container-navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding-top: 10px;

  .menu {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 10px;

    .Bold {
      padding: 6px 15px;
      border: 2px solid #c00;
      border-radius: 8px;
      color: #c00;
      font-weight: bold;
      cursor: pointer;
      background: transparent;
      transition: all 0.3s ease-in-out;
      font-weight: 500;

      &#active:hover {
        background: #c00;
        color: white;
        transition: 0.3s ease-in-out;
      }
    }

    .Use {
      padding: 6px 15px;
      border: 2px solid #FFFF;
      border-radius: 8px;
      color: #FFFF;
      font-weight: bold;
      cursor: pointer;
      background: transparent;
      transition: all 0.3s ease-in-out;
      font-weight: 500;

      &#actived:hover {
        background: #ffff;
        color: #c00;
        transition: 0.3s ease-in-out;
      }
    }
  }

}