.container-Search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0; 
}

.Search {
  display: flex;
  flex-direction: row;
  background-color: #ffff;
  width: 90%; 
  height: 30px;
  border-radius: 6px;
  color: #717171;
  align-items: center;
  gap: 5px;
  padding: 0 10px;
  margin: 0 auto; 
  box-sizing: border-box; 
}

.Search img {
  filter: grayscale(100%) sepia(100%) saturate(500%) hue-rotate(0deg) brightness(30%) contrast(85%);
  width: 20px;
  height: auto;
}

.searchInput {
  border: none;
  background: transparent;
  font-size: 14px;
  color: #717171;
  outline: none;
  flex: 1;
}
