@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rye&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  overflow-y: auto;  
}

  ::-webkit-scrollbar{
    display: none;
  }



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.layout-cliente {
  background-color: #EDEFF5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.layout-gerenciamento {
  background: linear-gradient(
    to bottom,
    red 0%,
    red 38%,
    #EDEFF5 30%,
    #EDEFF5 100%
  );
  color: white;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}




